// COLORS
$color-primary: #5393d8;
$color-primary-shade: #4981be;
$color-primary-tint: #649edc;

$color-secondary: #2562a5;
$color-secondary-shade: #215691;
$color-secondary-tint: #3b72ae;

$color-tertiary: #31ded5;
$color-tertiary-shade: #2bc3bb;
$color-tertiary-tint: #46e1d9;

$color-light-gray-1: #e1e5e9;
$color-light-gray-2: #b9c4cf;

$color-dark-gray-1: #5c6c7f;
$color-dark-gray-1-shade: #515f70;
$color-dark-gray-1-tint: #6c7b8c;

$color-danger: #f04141;
$color-danger-shade: #d33939;
$color-danger-tint: #f25454;

$color-warning: #e994f7;

$color-white: #fff;

// BACKGROUND
$color-bg-light: #fafbfb;

// TEXT COLORS
$color-text-dark-gray-1: #44566c;
$color-text-light-gray-1: #8996a6;

// FONT SIZES
$default-font-size: 1.6rem;

$border-radius: 0.4rem;

// UTILITY VARIABLES
$padding-size: 0.8rem;
$margin-size: 0.8rem;

$md-multiplier: 2;
$lg-multiplier: 3;
$xl-multiplier: 4;

$screen-sm-min: 576px;
