@import './variables';

:root {
  --ion-color-primary: #5393d8;
  --ion-color-primary-shade: #4981be;
  --ion-color-primary-tint: #649edc;

  --ion-color-light-gray: #8996a6;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
