.p-sm {
  padding: $padding-size;
}

.p-t-sm {
  padding-top: $padding-size;
}
.p-l-sm {
  padding-left: $padding-size;
}
.p-r-sm {
  padding-right: $padding-size;
}
.p-b-sm {
  padding-bottom: $padding-size;
}

.m-sm {
  margin: $margin-size;
}
.m-l-sm {
  margin-left: $margin-size;
}
.m-t-sm {
  margin-top: $margin-size;
}
.m-r-sm {
  margin-right: $margin-size;
}
.m-b-sm {
  margin-bottom: $margin-size;
}
